In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/raceInProgress/raceBW.csv')

- 20sec

In [3]:
df.head()

   PcrPatientRaceGroupKey    PcrKey  ePatient_14  black  white
0                16835623  13273412      2514011      0      1
1                21377926  17184298      2514011      0      1
2                38817731  21699657      2514011      0      1
3                97354357  72057010      2514011      0      1
4               111683931  83733589      2514001      0      0

In [4]:
def ishispanic(row):
    if row['ePatient_14'] == 2514007:
        return 1
    else:
        return 0

df['hispanic/latino'] = df.apply(lambda row: ishispanic(row), axis=1)

- 4min 45sec

In [5]:
df.head()

,PcrPatientRaceGroupKey,PcrKey,ePatient_14,black,white,hispanic/latino
0,16835623,13273412,2514011,0,1,0
1,21377926,17184298,2514011,0,1,0
2,38817731,21699657,2514011,0,1,0
3,97354357,72057010,2514011,0,1,0
4,111683931,83733589,2514001,0,0,0

In [6]:
def isasian(row):
    if row['ePatient_14'] == 2514003:
        return 1
    else:
        return 0

df['asian'] = df.apply(lambda row: isasian(row), axis=1)

- 4min 57sec

In [7]:
df.head()

,PcrPatientRaceGroupKey,PcrKey,ePatient_14,black,white,hispanic/latino,asian
0,16835623,13273412,2514011,0,1,0,0
1,21377926,17184298,2514011,0,1,0,0
2,38817731,21699657,2514011,0,1,0,0
3,97354357,72057010,2514011,0,1,0,0
4,111683931,83733589,2514001,0,0,0,0

In [8]:
def isnative(row):
    if row['ePatient_14'] == 2514001:
        return 1
    else:
        return 0

df['americanIndian/alaskaNative'] = df.apply(lambda row: isnative(row), axis=1)

In [9]:
df.head()

,PcrPatientRaceGroupKey,PcrKey,ePatient_14,black,white,hispanic/latino,asian,americanIndian/alaskaNative
0,16835623,13273412,2514011,0,1,0,0,0
1,21377926,17184298,2514011,0,1,0,0,0
2,38817731,21699657,2514011,0,1,0,0,0
3,97354357,72057010,2514011,0,1,0,0,0
4,111683931,83733589,2514001,0,0,0,0,1

In [10]:
def ispacific(row):
    if row['ePatient_14'] == 2514009:
        return 1
    else:
        return 0

df['nativeHawaiian/otherPacificIslander'] = df.apply(lambda row: ispacific(row), axis=1)

- Now we can drop ePatient_14 and PcrPatientRaceGroupKey
- We'll have some duplicate PcrKeys that we can also drop

In [14]:
df = df.drop(columns=['PcrPatientRaceGroupKey', 'ePatient_14'])

In [15]:
df.head()

,PcrKey,black,white,hispanic/latino,asian,americanIndian/alaskaNative,nativeHawaiian/otherPacificIslander
0,13273412,0,1,0,0,0,0
1,17184298,0,1,0,0,0,0
2,21699657,0,1,0,0,0,0
3,72057010,0,1,0,0,0,0
4,83733589,0,0,0,0,1,0

In [16]:
df.to_csv('/Users/patrickburke/Library/CloudStorage/OneDrive-EmoryUniversity/ECON496RW/raceInProgress/raceV2.csv',index=False)